<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="database" value="Server =(local);Database =test;User ID=sa;Password =xysql123"/>
    <add key="LogFilePath" value="D:\"/>
    <add key="remoteIP" value="192.168.1.100"/>
    <add key="remoteport" value="8000"/>
    <add key="connecttype" value="0"/>
    <add key="com" value="0"/>
    <add key="baudrate" value="4"/>
    <add key="InventoryTime" value="1000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="diaplay" value="yes"/>
    <add key="ShowEPCStyle" value="1"/>
    <add key="ShowIDStyle" value="1"/>
    <add key="IsRfidDataBaseWork" value="yes"/>
    <add key="IsAvtiveDataBaseWork" value="yes"/>
    <add key="IsCommandDataBaseWork" value="yes"/>
    <add key="CommandType" value="1"/>
    <add key="LogFilePath" value="D:\Log\ErrorLog"/>
    <add key="EventLogFilePath" value=""/>
    <add key="MultiEPCLogFilePath" value="D:\Log\MultiEPCLog"/>
    <add key="LogIsOpen" value="no"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.ProtocolBuffersLite" publicKeyToken="55f7125234beb589" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.555" newVersion="2.4.1.555"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
